"#!/bin/sh

#\$ -N #{label}
#\$ -m bea
#\$ -M #{email}
#\$ -o #{working_dir}/#{label}.out
#\$ -e #{working_dir}/#{label}.err
#\$ -P solexatrans
#\$ -l h_rt=72:00:00

#{ruby} #{rnaseq_pipeline} -working_dir #{working_dir} -export_file #{export_file} -label #{label} -org #{org_name} -ref_genome #{ref_genome} -readlen #{readlen} -max_mismatches #{max_mismatches} -script_dir #{script_dir} -rnaseq_dir #{rnaseq_dir} -bin_dir #{bin_dir} -pp_id #{pp_id} #{dry_run_flag}
"