"#!/bin/sh

#/$ -N #{label}
#/$ -m bea
#/$ -M vcassen@systemsbiology.org
#/$ -o #{working_dir}/gather_stats.#{label}.out
#/$ -e #{working_dir}/gather_stats.#{label}.err

#{perl} #{gather_stats} -working_dir #{working_dir} -export #{export_file} -job_name #{label}
"